body{
   background-color: #030118;
   color: #fff;
}
.navbar-brand{
    padding-top: 2%;
    font-size: 1.4em;
    padding-left: 3%;
    box-shadow: #fff 5px;
}
.navbar-nav{
    margin-left: auto;
    color: #fff;
    padding-top: 2%;
    padding-right: 8%;
    font-size: 1em;
}
/* Buy and sell */
.buy_sell{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.note p{
    width: 600;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buy_sell img{
    border-radius: 10%;
}