body{
   background-color: #04011a;
   color: #fff;
}
.navbar-brand{
    padding-top: 2%;
    font-size: 1.4em;
    padding-left: 3%;
    box-shadow: #fff 5px;
}
.navbar-nav{
    margin-left: auto;
    color: #fff;
    padding-top: 2%;
    padding-right: 8%;
    font-size: 1em;
}
/* Buy and sell */
.buy_sell{
    display: flex; 
    flex-wrap:wrap-reverse;
    justify-content: center;
    margin-top: 10%;
}
.note p{
    width: 600;
    font-size: 3.1em;
    padding-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buy_sell img{
    border-radius: 0% 0% 1% 0%;
    padding-left: 30px;
}
.sell-btn{
    font-size: 1em;
    padding: 8.5px 50px;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 30px;
    background-color: #2d2b46;
}
.buy-btn{
    font-size: 1em;
    padding: 8px 50px;
    border: 1px #6f67aa solid;
    color: #fff;
    outline: none;
    border-radius: 30px;
    background-color: transparent;
    margin-left: 20px;
}
.feature{
    padding-top: 14%;
    margin-left: 12%;
    width: 70%;
    margin: auto;
}
.coins{
    display: flex;
    justify-content: space-evenly;
    font-family:'Times New Roman', Times, serif ;
    border: 1px solid #6f67aa;
    background-color: #2b2d46;  
    box-shadow: -3px 3px rgba(188, 185, 212, 0.5);
}
.coins p{
    font-size: 1.1em ;
    padding: 22px 10px 10px 20px;    
}

.contact{
    padding-top: 14%;
    display: flex;
    justify-content: center;
}
.contact img{
    padding-right: 10px;
    width: 400px;
    height: 400px;
}
.sale-note{
    padding-left: 10px;
}
.sale-note h1{
    font-size: 2.5em;
}
.sale-note h2{
    font-size: 3em;
    color: #766eaf;
}
.sale-note h4{
    color: #6f67aa;
}
.sale-note button{
    color: #fff;
    padding: 8px 10px;
    font-size: 1.2em;
    border-radius: 15%;
    box-shadow: -4px 4px rgba(188, 185, 212, 0.5);
    background-color: transparent;
    border: 1px solid #6f67aa;

}
table{
    margin-top: 20px;
    background-color: #6f67aa;
    color: #fff;
    font-size: 1.3em;
    border-radius: 5%;
    box-shadow: 3px 3px 10px 3px #6f67aa;
}
th, td{
    padding: 6px 17px;
}
@media screen and (max-width: 768px) {
    .note p{
        padding-right: 0px;
    }
    .buy_sell img{
        padding-left: 0px;
    }
    
}
@media screen and (max-width: 360px) {
    .sell-btn{
        font-size: 1em;
        padding: 8.5px 50px;
        border: none;
        color: #fff;
        outline: none;
        border-radius: 30px;
        background-color: #2d2b46;
    }
    .buy-btn{
        font-size: 1em;
        padding: 8px 50px;
        border: 1px #6f67aa solid;
        color: #fff;
        outline: none;
        border-radius: 30px;
        background-color: transparent;
        margin-left: 6px;
    }
}
@media screen and (max-width: 420px) {
    .coins{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        border: none;
        background-color: #04011a; 
        box-shadow: none;
    }
    .coins p{
        font-size: 1.1em ;
        padding: 0px 10px 20px 0px;    
    }
}